<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ aluno.id }} | {{ aluno.nome }} 

    <form action="{% url 'alterar' aluno.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{aluno.nome}}">
        <input type="email" name="email" value="{{aluno.email}}">
        <input type="number" name="cpf" value="{{aluno.cpf}}">
        <button type="submit">Salvar alterações</button>
    </form>
</body>
</html>